/data/
/Papers/
/FlowNet/
/node_modules/
*.jpg
*.ipynb_checkpoints

__pycache__
CustomLayers.py
batch_shuffle.ipynb
model-F1.h5
model-F2.h5
model-weights-F1.h5
model-weights-F2.h5
/test/
SaveSequenceToVideo.ipynb
NvidiaModel-OpticalFlow.ipynb
NvidiaModel-OpticalFlow2.ipynb
*.mp4
/old_weights/
NvidiaModel-OpticalFlow2.ipynb
NvidiaModel-OpticalFlow.ipynb
NvidiaModel-OpticalFlowDense-Method2.ipynb
NvidiaModel-OpticalFlowSparse-Copy1.ipynb
NvidiaModel-OpticalFlowDense.ipynb
NvidiaModel-OpticalFlowDense-Method2.ipynb
model-test.h5
model-weights-test.h5
/ignore/
